.btn {
  border: none;
  background: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  cursor: pointer;

  /* default */
  background-color: #f1f1f1;
  color: #111;
}

.btn:hover {
  background-color: #e9e9e9;
}

.btn:active {
  background-color: #dfdfdf;
}

.btn.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.btn.btn-primary::selection, .btn.btn-primary ::selection {
  background-color: var(--colored-bg-selection);
}

.btn.btn-primary:hover {
  background-color: #6fb334;
}

.btn.btn-primary:active {
  background-color: #65a32e;
}

.btn.btn-primary:disabled {
  opacity: 0.65;
}

.btn:focus {

}

.btn.btn-lg {
  font-size: 1.125rem;
  padding: 0.5725rem 0.8125rem;
}

.btn-icon {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  background: none;
  color: currentColor;
  font-size: 1.5rem;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  &.has-dark-bg:hover {
    background: rgba(255, 255, 255, 0.15);
  }
  &.has-dark-bg:active {
    background: rgba(255, 255, 255, 0.25);
  }

  // because there is no background or border,
  // we need to align button contents to left edge
  &.is-left {
    margin-right: -0.625rem;
  }
  
  // because there is no background or border,
  // we need to align button contents to left edge
  &.is-right {
    margin-right: -0.625rem;
  }
  
}
