.book-details-tags {
  display: flex;
}

/* with border */
/* .book-details-tag {
  color: #666;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  padding: 0.325rem;
  border-radius: 0.25rem;
  border: solid 1px rgba(200, 200, 200, 0.2);
  box-shadow: 2px 2px 8px 0px #efefef;
  background-color: #fff;
} */

/* borderless */
.book-details-tag {
  color: #666;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  /* font-weight: 600; */
  /* padding: 0.325rem; */
  padding: 0.625rem 0.75rem;
  border-radius: 0.25rem;
  /* box-shadow: 2px 2px 8px 0px #efefef; */
  box-shadow: 2px 2px 8px 0px #f2f2f2;
  background-color: #ececec;
  /* background-color: #efefef; */
}

/* unclickable */
.book-details-tag-bordered {
  color: #444;
  background: none;
  border: solid 1px #dfdfdf;
  box-shadow: 2px 2px 8px 0px #f6f6f6;
}

.book-details-tag:not(:first-child) {
  margin-left: 0.75rem;
}
