.book-details-tags {
  display: flex;
}

.book-details-tag {
  color: #666;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  border: solid 1px #dfdfdf;
  padding: 0.325rem;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 6px 0px #f9f9f9;
}

.book-details-tag:not(:first-child) {
  color: #666;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  border: solid 1px #dfdfdf;
  padding: 0.325rem;
  border-radius: 0.325rem;
  margin-left: 0.5rem;
}
